{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">

	<h3 class="my-4 border-bottom pb-1">Profile</h3>
    <p> {{ note }}  </p>

	<table class="table table-bordered">
		<form action="{% url 'edit_profile' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}

			<tr>
                <td colspan="2">
                First Name: {{ user_form.first_name }}
                </td>
                <td colspan="2">
                Last Name: {{ user_form.last_name }}
                </td>
                <td colspan="2">
                E-mail: {{ user_form.email }}
                </td>
                <td colspan="2">
                {{ profile_form.as_table }}
                </td>
                <td colspan="2">
                Available balance: {{ available_bal }}

                </td>
                <td>

                </td>
				<td colspan="2">
					<button type="submit" class="btn btn-outline-info">Update</button>
				</td>
			</tr>
		</form>
	</table>
</main>
{% endblock %}