{% extends 'base.html' %}

{% block content %}

    <h1><b><u>Buy the Stock</u></b></h1><br/><br/>
<form action="{% url 'myportfolio' %}" method="post"  >
 {% csrf_token %}

    <p><h3><b>{{ symbol }} - {{ api.companyName }}</b></h3></p><br/>
    <p>Enter the Quantity: <input type="number" name="quantity" ></p>
    <input type="hidden" name="latest_price" value="{{ api.latestPrice }}"><br/>
    <input type="hidden" name="symbol" value="{{ symbol }}"><br/>
    <p>Price: {{ api.latestPrice }}</p><br/>
    <p>Available Balance: {{ availableBal }}</p><br/>
    <button class="btn btn-outline-success" type="submit">Buy the Stock</button><br/>

</form>
{% endblock %}