{% extends 'base.html' %}
{% block content %}

<title>Delete Stock</title>
<style>

</style>
    <h1 style="text-align: center"><b><u>Delete from Watchlist</u></b></h1><br/><br/>
<table class="table table-striped table-hover"  style="width: 600px; margin-left: auto; margin-right: auto; margin-bottom: auto" >
    <thead class="table-dark" >
        <tr>
            <th scope="col" style="text-align: center"><h4><b>Delete from the list</b></h4></th>
        </tr>
    </thead>
    <tbody>
        {% if ticker %}
          {% for item in ticker %}
              <tr>
                 <td style="text-align: center"><h5><b><p>Company {{ item }} : <a href="{% url 'delete_stock' item.id %}" class="btn btn-outline-success">Delete</a></p></b></h5> </td>
              </tr>
          {% endfor %}
        {% else %}
            You don't have stocks....
        {% endif  %}
    </tbody>

</table>

{% endblock %}
