{% extends 'base.html' %}
{% block content %}
<title>Money Market</title>


<h1><b>Stock List</b></h1>

<br/>
<br/>



<!---{#% if api %#}
    {#% if api == "Error..." %#}
        <h3>There was a problem with your ticker symbol, please try again later</h3>
    {#% else %#}
        <h1>{{ api.companyName }}</h1>
        Price: ${{ api.latestPrice }}<br/>
        Previous Close: {{ api.previousClose }}<br/>
        Market Cap: {{ api.marketCap }}<br/>
        YTD Change: {{ api.ytdChange }}<br/>
        52Wk High: {{ api.week52High }}<br/>
        52Wk Low: {{ api.week52Low }}<br/>

    {#% endif %#}
{#% endif %#}-->
{#% for ticker_list in data %#}
   <!-- <ol>
       <li> {{ ticker_list.companyName }}</li>
    </ol>-->
{#% endfor %#}
<table class="table table-striped table-hover" >
  <thead class="table-dark">
    <tr>
      <th scope="col">Company Name</th>
      <th scope="col">Stock Price</th>
      <th scope="col">Market Cap</th>
    </tr>
  </thead>
  <tbody>
  {% if ticker %}
      {% for list_items in output %}
          <tr>
              <form action="{% url 'search' %}" method="get">
              <td><a type="button" href="{% url 'search' %}?ticker={{ list_items.symbol }}">{{ list_items.companyName }}</a></td>
                  <input name="ticker" type="hidden" value={{ list_items.symbol }}>
              </form>
              <td>{{ list_items.latestPrice }}</td>
              <td>{{ list_items.marketCap }}</td>
          </tr>

      {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}