{% extends 'base.html' %}

{% block content %}

 <h1 style="text-align: center"><b><u>Holding Statement</u></b> </h1> <br/><br/>
    <h5> {{ note }}</h5>



    {%  for stocks in my_stock %}
    <table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">Company Name</th>
      <th scope="col">Stock Price</th>
      <th scope="col">Previous Close</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Funds</th>
      <th scope="col">Available Balance</th>
      <th scope="col">Sell Now</th>

    </tr>
    <tr>
        <th scope="col">{{ api.companyName }}</th>
        <th scope="col">{{ api.latestPrice }}</th>
        <th scope="col">{{ api.previousClose }}</th>
        <th scope="col">{{ quantity }}</th>
        <th scope="col">{{ buyAmount }}</th>
        <th scope="col">{{ availableBal }}</th>

    </tr>
  {% endfor %}
  </thead>
    </table>









<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">Company Name</th>
      <th scope="col">Stock Price</th>
      <th scope="col">Previous Close</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Funds</th>
      <th scope="col">Available Balance</th>


    </tr>
    <tr>
        <th scope="col">{{ api.companyName }}</th>
        <th scope="col">{{ api.latestPrice }}</th>
        <th scope="col">{{ api.previousClose }}</th>
        <th scope="col">{{ quantity }}</th>
        <th scope="col">{{ buyAmount }}</th>
        <th scope="col">{{ availableBal }}</th>

  </thead>
  <tbody>
  {% if ticker %}
      {% for list_items in output %}
          <tr>
              <td>{{ list_items.companyName }}</td>
              <td>{{ list_items.latestPrice }}</td>
               <td>{{ list_items.previousClose }}</td>

          </tr>

      {% endfor %}
  </tbody>
</table>
{% endif %}

<br/><br/>
{% endblock %}