{% extends 'base.html' %}

{% block content %}
 <h1>Your Details:</h1>
    <h4>Profile Name:</h4>
    <h4>Demat Account Number:</h4>
 <h1> Holding Statement</h1>
    <h5> {{ note }}</h5>
<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">Company Name</th>
      <th scope="col">Stock Price</th>
      <th scope="col">Previous Close</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Funds</th>
      <th scope="col">Total Funds</th>
      <th scope="col">Sell Now</th>

    </tr>
    <tr>
        <th scope="col">{{ api.companyName }}</th>
        <th scope="col">{{ api.latestPrice }}</th>
        <th scope="col">{{ api.previousClose }}</th>
        <th scope="col">From Database</th>
        <th scope="col">From Database</th>
        <th scope="col">From Database</th>
        <form action="{% url 'buy_stock' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="symbol" class="form-control" value="{{ api.symbol }}">
        <td><button  class="btn btn-outline-success" type="submit">Sell Now</button></td>
        </form>
    </tr>
  </thead>
  <tbody>
  {% if ticker %}
      {% for list_items in output %}
          <tr>
              <td>{{ list_items.companyName }}</td>
              <td>{{ list_items.latestPrice }}</td>
               <td>{{ list_items.previousClose }}</td>
               <form action="{% url 'sell_stock' %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="symbol" class="form-control" value="{{ list_items.symbol }}">
                  <input type="hidden" name="company_name" class="form-control" value="{{ list_items.companyName }}">
                  <input type="hidden" name="latest_price" class="form-control" value="{{ list_items.latestPrice }}">
              <td><button  class="btn btn-outline-success" type="submit">Sell</button></td>
              </form>
          </tr>

      {% endfor %}
  </tbody>
</table>
{% endif %}
<br/><br/>
{% endblock %}