{% extends 'base.html' %}
{% block content %}
<title>Money Market</title>


<br/>
<br/>

{% if api %}
    {% if api == "Error..." %}
        <h3>There was a problem with your ticker symbol, please try again later</h3>
    {% else %}
        <h1>{{ api.companyName }}</h1>
        Price: ${{ api.latestPrice }}<br/>
        Previous Close: {{ api.previousClose }}<br/>
        Market Cap: {{ api.marketCap }}<br/>
        YTD Change: {{ api.ytdChange }}<br/>
        52Wk High: {{ api.week52High }}<br/>
        52Wk Low: {{ api.week52Low }}<br/>
        <div>
        <br/><br/>
        <form action="{% url 'watchlist' %}" method="POST" class="d-flex" >
          {% csrf_token %}
            <input type="hidden" name="ticker" class="form-control" value="{{ api.symbol }}">
            <button class="btn btn-outline-success" type="submit">Add To Watchlist</button>
        </form>

        </div>

    {% endif %}
{% endif %}

{% endblock %}