{% extends 'base.html' %}
{% block content %}
<title>Money Market</title>


<br/>
<br/>
{% if api %}
        <h1 class="text-center">{{ api.companyName }}</h1><br/><br/>
        <table class="table">
        <tr>
            <thead class="thead-dark text-center">
                <th>Field</th>
                <th style="border-right-width: 1px;">Value</th>
                <th>Field</th>
                <th>Value</th>
            </thead>
        </tr>
        <tr class="text-center">
            <td>Primary Exchange</td>
            <td style="border-right-width: 1px;"> {{ api.primaryExchange }}</td>
            <td>Price</td>
            <td> ${{ api.latestPrice }}</td>
        </tr>
        <tr class="text-center">
            <td>Previous Close</td>
            <td style="border-right-width: 1px;">{{ api.previousClose }}</td>
            <td>Total Volume</td>
            <td>{{ api.avgTotalVolume }}</td>
        </tr>
        <tr class="text-center">
            <td>Market Cap</td>
            <td style="border-right-width: 1px;">{{ api.marketCap }}</td>
            <td>YTD Change</td>
            <td>{{ api.ytdChange }}</td>
        </tr>
        <tr class="text-center">
            <td>52Wk High</td>
            <td style="border-right-width: 1px;">{{ api.week52High }}</td>
            <td>52Wk Low</td>
            <td>{{ api.week52Low }}</td>
        </tr>
        </table>
        <div class="d-flex justify-content-center">
        <br/><br/>
        <form action="{% url 'watchlist' %}" method="POST" class="d-flex" >
          {% csrf_token %}
            <input type="hidden" name="ticker" class="form-control" value="{{ api.symbol }}">
            {% if user.is_authenticated %}
            <button class="btn btn-outline-success" type="submit">Add To Watchlist</button>
            {% endif %}
        </form>

        </div>


{% endif %}

{% endblock %}