{% extends 'base.html' %}
{% block content %}

<title>Watchlist</title>

<h1><b>Your Watchlist</b></h1><br/>

      <form action="{% url 'watchlist' %}" method="POST" class="d-flex" >
          {% csrf_token %}
        <input name="ticker" class="form-control me-2" type="search" placeholder="Add Ticker To Page" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Add to Watchlist</button>
      </form>
      <br/>
<table class="table table-striped table-hover">
  <thead class="table-dark>
    <tr>
      <th scope="col"></th>
      <th scope="col">Company Name</th>
      <th scope="col">Stock Price</th>
      <th scope="col">Previous Close</th>
      <th scope="col">YTD Change</th>
      <th scope="col">52wk High</th>
      <th scope="col">52wk Low</th>
      <th scope="col">Buy Now</th>

    </tr>
  </thead>
  <tbody>
  {% if ticker %}
      {% for list_items in output %}
          <tr>
              <td>{{ list_items.companyName }}</td>
              <td>{{ list_items.latestPrice }}</td>
               <td>{{ list_items.previousClose }}</td>
              <td>{{ list_items.ytdChange }}</td>
              <td>{{ list_items.week52High }}</td>
              <td>{{ list_items.week52Low }}</td>
              <td>

                  <button  name= "ticker" class="btn btn-outline-success" type="submit"><a href="{% url 'buy_stock' %}" method="post">Buy</a></button></td>

          </tr>

      {% endfor %}
  </tbody>
</table>
{% endif %}
<br/><br/>

{% endblock %}
